@import "../../variables.scss";

.login {
  background-color: $bg-primary;
}

.logo {
  height: 100vh;
  width: 100%;
  /* Ajusta a imagem dentro do contêiner, mantendo a proporção e cortando o excesso */
  object-fit: fill;
  // width: 100%;
  // object-fit: contain;
  // border-radius: 12%;
}

.logo-icon {
  color: #aa7f5a;
}

.card.login-form {
  background-color: $bg-secondary;
}
